/* SCROLL */
::-webkit-scrollbar {
    width: 6px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #0f0f0e;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #223d27;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #246531;
}

/* SCROLL FIN*/
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

/* ESTILOS HEADER */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1e5128;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 1rem;
  cursor: pointer;
  background-color: #1e5128;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #2b9348;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }

  .sidebar a {
      font-size: 18px;
  }
}


/* sidebar items */

.item-sidebar{
  width: 100%;
  padding: 1em;
}
.item-sidebar a:hover{
  border-radius: 20px;
  padding: 10px;
  background-color: #246531;
}

/* Fin del header */

/* Parallax */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
}
.bgimg-1 {
  background-image: url("../assets/img/eico.jpg");/* rgba, oscurece los parallax */
  background-blend-mode: darken;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-2 {
    background-image: url("../assets/img/eico2.jpg");;
    background-blend-mode: darken;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3 {
    background-image: url("../assets/img/eico3.jpg");
    background-blend-mode: darken;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-parallax-normal{
  background-color: rgba(0, 0, 0, 0.2);
}

.parallax-active{
  background-color: rgba(0, 0, 0, 0.8);
}

/* Contenedor de texto entre los parallax */
.bg-dark {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.bg-light {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
.light-text {
  text-align: center;
  color: #f7f7f7;
}
.border {
  font-size: 25px;
  color: #f7f7f7;
  border: none !important;
}
h3,
p {
  text-align: center;
}
#contenidoParallax{
  padding: 2em;
  background-color: rgba(30, 81, 40, 1);
}

#contenidoParallax h2{
  color:whitesmoke; 
  font-weight: 600;
  margin-top: 0
}

#contenidoParallax div p{
  font-size: 18px;
  color: whitesmoke;
}

#contenidoParallax div ul li{
  font-size: 15px;
  color: whitesmoke;
}

#textoParallax{
  background-color: rgba(222, 222, 222, 0.2);
  line-height: 30px;
}
#containerParallax{
  display: table
}
#textoParallax{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
/* Estilos de los textos en de los parallax*/
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
/* Estilos footer */
.footer {
  background: rgb(0, 0, 0);
  color: whitesmoke;

}
.center {
  text-align: center;

}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}




