@charset "UTF-8";

/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
:root {
  --black: #191a19;
  --dark-green: #006423;
  --white-green: #4e9f3d;
  --cream: #d8e9a8;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* font-family: "Lora", serif; */
  /* font-family: "Ubuntu", sans-serif; */
}
/* SCROLL */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #223d27;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #246531;
}

/* SCROLL FIN*/

[data-content] {
  display: none;
}

.active[data-content] {
  display: block;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  gap: 7em;
  background-color: var(--dark-green);
}
.header__item {
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3em;
}
.header__item:after {
  display: block;
  position: relative;
  top: 10%;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(240, 226, 30);
  transition: 0.5s;
}
.header__item:hover:after {
  width: 100%;
}
.header__item.header__item-active:after {
  display: block;
  position: relative;
  top: 10%;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(240, 226, 30);
  transition: 0.5s;
}

.btn__container {
  position: fixed;
  z-index: 1000;
}

.btn__container.scrolling_down {
  transform: translate3d(0, -100%, 0);
  transition: all 0.8s ease;
}
.btn__container.scrolling_up {
  transform: translate3d(0, 0, 0);
  transition: all 0.8s ease;
}
.nav__btn__hamburger {
  position: relative;
  display: block;
  width: 30px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav__btn__hamburger .bar,
.nav__btn__hamburger:after,
.nav__btn__hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--white);
  margin: 6px 0px;
  transition: 0.5s;
}
.nav__btn__hamburger:hover {
  transform: translate(0, -5px);
}
.nav__btn__hamburger.active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.nav__btn__hamburger.active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.bar.active {
  opacity: 0;
}

#overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Sidebar Styles */

.sidebar-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.sidebar-nav li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border-radius: 10px;
}
.sidebar-nav li a {
  text-decoration: none;
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.6em;
}
.sidebar-nav li:hover {
  background-color: var(--white-green);
  border-radius: 10px;
}
